<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriVida"
        tools:targetApi="31" >
        <activity
            android:name=".inicializacion.activity.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.NutriVida" />
        <activity
            android:name=".activity.DetalleComidaActivity"
            android:exported="false" />
        <activity
            android:name=".test.activity.ResumenGraficoActivity"
            android:exported="false" />
        <activity
            android:name=".test.activity.ResultadoActivity"
            android:exported="false"
            android:theme="@style/Theme.NutriVida" />
        <activity
            android:name=".test.activity.TestProfesionalActivity"
            android:exported="false"
            android:theme="@style/Theme.NutriVida" />
        <activity
            android:name=".test.activity.TestFisicoActivity"
            android:exported="false" />
        <activity
            android:name=".main.activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".activity.AniadirComidaActivity"
            android:exported="false"
            android:theme="@style/Theme.NutriVida" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActividadPerfil"
            android:exported="false" />
        <activity
            android:name=".activity.ActividadComida"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".test.activity.TestEmocionalActivity"
            android:exported="false" />

        <activity
            android:name=".test.activity.ExportarResultadoActivity"
            android:exported="false"/>


        <receiver android:name=".ResetPesoReceiver" />
    </application>

</manifest>
